h5 {
  font-family: "Andale Mono", AndaleMono, monospace;
  font-style: normal;
  font-variant: normal;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #80cbc4;
  height: 150px;
  padding: 20px;
}

.App-title {
  font-weight: bold;
  font-size: 210%;
  margin-top: 0%;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-error {
  background-color : #e57373;
  color: white;
  padding: 1%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}