body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


/* -- padding -- */
.padding-0 {
  padding: 0em !important;
}

.padding-1 {
  padding: 1em !important;
}

.padding-2 {
  padding: 2em !important;
}

.padding-3 {
  padding: 3em !important;
}

.padding-4 {
  padding: 4em !important;
}

.padding-5 {
  padding: 5em !important;
}

.padding-6 {
  padding: 6em !important;
}


/* -- padding-top -- */
.padding-top-0 {
  padding-top: 0em !important;
}

.padding-top-1 {
  padding-top: 1em !important;
}

.padding-top-2 {
  padding-top: 2em !important;
}

.padding-top-3 {
  padding-top: 3em !important;
}

.padding-top-4 {
  padding-top: 4em !important;
}

.padding-top-5 {
  padding-top: 5em !important;
}

.padding-top-6 {
  padding-top: 6em !important;
}


/* -- padding-bottom -- */
.padding-bottom-0 {
  padding-bottom: 0em !important;
}

.padding-bottom-1 {
  padding-bottom: 1em !important;
}

.padding-bottom-2 {
  padding-bottom: 2em !important;
}

.padding-bottom-3 {
  padding-bottom: 3em !important;
}

.padding-bottom-4 {
  padding-bottom: 4em !important;
}

.padding-bottom-5 {
  padding-bottom: 5em !important;
}

.padding-bottom-6 {
  padding-bottom: 6em !important;
}


/* -- padding-left -- */
.padding-left-0 {
  padding-left: 0em !important;
}

.padding-left-1 {
  padding-left: 1em !important;
}

.padding-left-2 {
  padding-left: 2em !important;
}

.padding-left-3 {
  padding-left: 3em !important;
}

.padding-left-4 {
  padding-left: 4em !important;
}

.padding-left-5 {
  padding-left: 5em !important;
}

.padding-left-6 {
  padding-left: 6em !important;
}


/* -- padding-right -- */
.padding-right-0 {
  padding-right: 0em !important;
}

.padding-right-1 {
  padding-right: 1em !important;
}

.padding-right-2 {
  padding-right: 2em !important;
}

.padding-right-3 {
  padding-right: 3em !important;
}

.padding-right-4 {
  padding-right: 4em !important;
}

.padding-right-5 {
  padding-right: 5em !important;
}

.padding-right-6 {
  padding-right: 6em !important;
}


/* -- margin -- */
.margin-0 {
  margin: 0em !important;
}

.margin-1 {
  margin: 1em !important;
}

.margin-2 {
  margin: 2em !important;
}

.margin-3 {
  margin: 3em !important;
}

.margin-4 {
  margin: 4em !important;
}

.margin-5 {
  margin: 5em !important;
}

.margin-6 {
  margin: 6em !important;
}


/* -- margin-top -- */
.margin-top-0 {
  margin-top: 0em !important;
}

.margin-top-1 {
  margin-top: 1em !important;
}

.margin-top-2 {
  margin-top: 2em !important;
}

.margin-top-3 {
  margin-top: 3em !important;
}

.margin-top-4 {
  margin-top: 4em !important;
}

.margin-top-5 {
  margin-top: 5em !important;
}

.margin-top-6 {
  margin-top: 6em !important;
}


/* -- margin-bottom -- */
.margin-bottom-0 {
  margin-bottom: 0em !important;
}

.margin-bottom-1 {
  margin-bottom: 1em !important;
}

.margin-bottom-2 {
  margin-bottom: 2em !important;
}

.margin-bottom-3 {
  margin-bottom: 3em !important;
}

.margin-bottom-4 {
  margin-bottom: 4em !important;
}

.margin-bottom-5 {
  margin-bottom: 5em !important;
}

.margin-bottom-6 {
  margin-bottom: 6em !important;
}


/* -- margin-left -- */
.margin-left-0 {
  margin-left: 0em !important;
}

.margin-left-1 {
  margin-left: 1em !important;
}

.margin-left-2 {
  margin-left: 2em !important;
}

.margin-left-3 {
  margin-left: 3em !important;
}

.margin-left-4 {
  margin-left: 4em !important;
}

.margin-left-5 {
  margin-left: 5em !important;
}

.margin-left-6 {
  margin-left: 6em !important;
}

.margin-left-7 {
  margin-left: 7em !important;
}

.margin-left-8 {
  margin-left: 8em !important;
}


/* -- margin-right -- */
.margin-right-0 {
  margin-right: 0em !important;
}

.margin-right-1 {
  margin-right: 1em !important;
}

.margin-right-2 {
  margin-right: 2em !important;
}

.margin-right-3 {
  margin-right: 3em !important;
}

.margin-right-4 {
  margin-right: 4em !important;
}

.margin-right-5 {
  margin-right: 5em !important;
}

.margin-right-6 {
  margin-right: 6em !important;
}

/* -- size -- */
.width-90 {
  width: 90% !important;
}

.width-80 {
  width: 80% !important;
}

.width-70 {
  width: 70% !important;
}

.width-60 {
  width: 60% !important;
}


/* -- position -- */
.absolute {
  position: absolute;
}


/* -- font-size -- */
.xx-small-size {
  font-size: xx-small;
}

.small-size {
  font-size: small;
}


/* -- color -- */
.icon-teal {
  color: #009688;
}

.light-teal-background {
  background-color: #E1F2F1 !important;
}

.light-teal-border {
  border: 1px solid #BEE4E1 !important;
}


/* -- component customize -- */
.x-small-button {
  line-height: 8% !important;
  font-size: 50% !important;
  width: 65% !important;
}

.custom_input {
  width: 100% !important;
  background-color: white !important;
  box-sizing: border-box;
}

.menu-detail{
	margin-top:100px;
}

.menu-detail span{
	margin-top:20px;
}

i.medium {
  font-size: 3rem !important;
}

.pointer-mouse{
	cursor: pointer;
}

.context-menu {
	cursor: context-menu;
}

.scroll{
	overflow-y: auto;
	 height:500px;
}